html {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  background-image: url(../img/main-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  .container {
    margin: 50px 200px 0;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 15px;
    color: white;
  }
}
