html {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  background-image: url(../img/main-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
