.trip-list {
  font-family: 'Open Sans', sans-serif;
  .btn,
  .btn-sm,
  .btn-xs {
    border-radius: 2px;
  }
  #add-trip-form-title,
  #trip-list-title {
    text-align: center;
  }
}

#trip-list-table {
  background-color: white;
}

.btn {
  border-radius: 0;
}
